In [3]:
print ('meu codigo no jupter')

meu codigo no jupter

In [ ]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\julia cruz\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\julia cruz\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\julia cruz\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\julia cruz\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\julia cruz\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\julia cruz\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

:

In [7]:
import pandas as pd
tabela = pd.DataFrame({'nome':['Julia','Lene'],'Idade':[45,47]})
display(tabela)

    nome  Idade
0  Julia     45
1   Lene     47